.App {
  text-align: center;
  background-color: #fad1d1;
}

body {
  background-color: #fad1d1;
  width: 100%;
  margin: 0;
  padding: 0;
}


.canvas {
  width: 80%;
  height:  80vh;
  margin: 10vh 10%;
}

